<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.getbewarned.connectinterpreter">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".ui.NewMainActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ActionsMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CallActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ui.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.NameInputActivity"
            android:screenOrientation="portrait" />
        <activity android:name="ua.privatbank.paylibliqpay.CheckoutActivity" />

        <service android:name=".services.FBInstanceService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.FBMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.ConfirmationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.UtogActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CountryActivity"
            android:parentActivityName=".ui.LoginActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.RequestsActivity"
            android:parentActivityName=".ui.NewMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.NewMainActivity" />
        </activity>
        <activity
            android:name=".ui.RequestActivity"
            android:parentActivityName=".ui.RequestsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RequestsActivity" />
        </activity>
        <activity
            android:name=".ui.VideoPlayerActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.ImagePreviewActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.QrScannerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.GroupSessionActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ui.NewsActivity"
            android:parentActivityName=".ui.NewMainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.RequestsActivity" />
        </activity>
        <activity
            android:name=".ui.NewsDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.ProfileActivityV2"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.EditPersonalInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.HelpActivity"  android:theme="@style/HelpActivity" />
        <activity
            android:name=".ui.ProfileActivity"
            android:parentActivityName=".ui.NewMainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/PreferencesTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.getbewarned.connectinterpreter.ui.NewMainActivity" />
        </activity>
    </application>

</manifest>